<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="url" value="https://id.atlassian.com/login"/>
  <parameter name="username" value="droidmahesh@gmail.com"/>
  <parameter name="password" value="Hello@779966"/>
  <parameter name="summary" value="this is related to testng bug"/>
  <parameter name="description" value="hai this bug is rectified by selenium tester s djaj"/>
    <classes>
      <class name="testcases.JiraLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
